<!-- Second content -->
<div class="content__second">

    <!-- Stories -->
    <div class="stories">
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
    </div>
    <!-- Stories -->

    <!-- Feed -->
    <div class="feed">
        <!-- Publication -->

        <app-publication *ngFor="let publication2 of getPublications" [publication]="publication2" />

        <!-- Publication -->
    </div>
    <!-- Feed -->

    </div>
    <!-- Second content -->