<div class="layout">

    <!-- Navbar -->
    <div class="navbar">

        <p class="navbar__logo">K</p>

        <div class="navbar__links">
            
            
            <a routerLink="/karios/party" class="navbar__party-link">
                <i class="fa-solid fa-play"></i>
            </a>
            
            
            <a routerLink="/karios/messenger" class="navbar__messenger-link">
                <i class="fa-solid fa-comments"></i>
            </a>

        </div>

    </div>
    <!-- Navbar -->

    <!-- Main content -->
    <div class="content">

    <!-- Second content -->    
    <div class="content__second">

    <!-- Stories -->
    <div class="stories">
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie>
        <app-storie></app-storie> 
    </div>
    <!-- Stories -->

    <!-- Feed -->
    <div class="feed">
        <!-- Publication -->
        
        <app-publication />
        <app-publication />
        <app-publication />
        
        <!-- Publication -->
    </div>
    <!-- Feed -->

    </div>
    <!-- Second content -->
        

    <!-- Actions -->
    <div class="actions">
            
            <a class="actions__action">
                <p-avatar icon="fa-solid fa-user" styleClass="bg-white" size="xlarge" shape="circle"></p-avatar>
                <span class="action__text">Mi perfil</span>
            </a>

            <a class="actions__action">
                <p-avatar icon="fa-solid fa-users" styleClass="bg-white" size="xlarge" shape="circle"></p-avatar>
                <span class="action__text">Amigos</span>
            </a>

            <a class="actions__action">
                <p-avatar icon="fa-solid fa-square-plus" styleClass="bg-white" size="xlarge" shape="circle"></p-avatar>
                <span class="action__text">Crear publicación</span>
            </a>

            <a class="actions__action">
                <p-avatar icon="fa-solid fa-bell" styleClass="bg-white" size="xlarge" shape="circle"></p-avatar>
                <span class="action__text">Notificaciones</span>
            </a>

            <a class="actions__action">
                <p-avatar icon="fa-solid fa-gear" styleClass="bg-white" size="xlarge" shape="circle"></p-avatar>
                <span class="action__text">Configuración</span>
            </a>

    </div>
    <!-- Actions -->

    <!-- Actions for end height -->
    <div class="actions__transparent"></div>
    <!-- Actions for end height -->

    </div>
    <!-- Main content -->

</div>