<div class="publication">
    <div class="publication__header">
        <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" class="publication__photo-profile" size="xlarge" shape="circle"></p-avatar>

        <p class="publication__username">juan</p>

        <p class="publication__date">ayer</p>

        <p class="publication__likes"><i class="fa-solid fa-heart"></i> 0</p>

        <p class="publication__comments"><i class="fa-solid fa-comment"></i> 0</p>
    </div>

    <div class="publication__body">
        <p class="publication__description">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis nemo corporis sequi harum veniam facilis asdasd asd asd. aa
        </p>

        <img class="publication__image" src="/src/assets/perrito.jpg" alt="perritoo">
    </div>

    <div class="publication__footer">

            <button type="button" 
                    class="publication__action-button">
                    <i class="fa-regular fa-heart"></i>
                    Me gusta
            </button>

            <button type="button" 
                    class="publication__action-button">
                    <i class="fa-regular fa-comment"></i>
                    Comentar
            </button>

            <button type="button" 
                    class="publication__action-button">
                    <i class="fa-solid fa-share"></i>
                    Compartir
            </button>

    </div>
</div>