<div class="layout">
    <div class="auth-card">
        <div class="auth-card__header">
            <p>Crear una cuenta</p>
        </div>

        <form class="auth-card__form" [formGroup]="registerForm" (ngSubmit)="onRegister()">

            <div class="auth-card__body">

                <div class="auth-card__username-field">
                    <label for="username">Ingresa tu nombre de usuario:</label>
                     <input type="text" formControlName="username" placeholder="Nombre de usuario...">
                     <span *ngIf="usernameField?.hasError('required') && usernameField?.touched">* Este campo es obligatorio</span>
                     <span *ngIf="usernameField?.hasError('minlength')">* El mínimo de carácteres del usuario es de 3</span>
                </div>

                <div class="auth-card__email-field">
                    <label for="email">Ingresa tu email:</label>
                     <input type="email" formControlName="email" placeholder="Email...">
                     <span *ngIf="emailField?.hasError('required') && emailField?.touched">* Este campo es obligatorio</span>
                     <span *ngIf="emailField?.hasError('email') && emailField?.touched">* Este email es inválido</span>
                </div>

                <div class="auth-card__password-field">
                    <label for="password">Ingresa tu contraseña:</label>
                    <input type="password" formControlName="password" id="password" placeholder="Contraseña...">
                    <span *ngIf="passwordField?.hasError('required') && passwordField?.touched">* Este campo es obligatorio</span>
                    <span *ngIf="passwordField?.hasError('minlength')">* El mínimo de carácteres de la contraseña es de 6</span>
                </div>

            </div>
            
            <div class="auth-card__footer">

                <button type="submit" 
                    class="auth-card__action-button">
                    Registrarse
                </button>

            </div>

            <a routerLink="/auth/login">Ya tengo una cuenta</a>

        </form>
    </div>
</div>