<form class="create-chat-dialog">

    <div class="create-chat-dialog__search">
        <label class="create-chat-dialog__search-label" for="search_user">Busca un usuario:</label>
        <input class="create-chat-dialog__search-input" type="text" id="search_user" autocomplete="off" placeholder="Nombre de usuario..." name="username" [(ngModel)]="usernameToSearch" (ngModelChange)="changeValue()">
    </div>

    <div class="create-chat-dialog__results">
        <label *ngFor="let user of users" class="animate__animated animate__fadeIn animate__faster">
            <input type="radio" name="user" [value]="user" (change)="updateSelection(user)" />
            {{ user.username }}
        </label>
    </div>

    <div class="create-chat-dialog__actions">
        <button (click)="close()">Cancelar</button>
        <button [disabled]="true" [ngClass]="createChatButton.disabled ? 'disabled' : 'enabled'" #createChatButton (click)="createChat()">Continuar</button>
    </div>

</form>