<div class="chat">
    <div class="chat__header">
        <p-avatar [image]="chat?.userChat?.imageUrl" class="chat__photo-profile" size="xlarge" shape="circle"></p-avatar>

        <p class="chat__username">{{ chat?.userChat?.username }}</p>

        <a class="chat__close" routerLink="/karios/messenger">
            <i class="fa-solid fa-xmark"></i>
        </a>
    </div>

    <div class="chat__body" #chatWindow>
        <div class="chat__message" *ngFor="let message of getMessages">
            <p class="chat__message-text" [ngClass]="message.userId == currentUserId ? 'chat__message-text-end' : ''">
                {{ message.message }}
            </p>
        </div>
    </div>

    <div class="chat__footer">
        
        <input class="chat__input-text" type="text" name="message" placeholder="Mensaje..." 
            (keyup.enter)="enviarMensaje($event)" #inputMessage>

        <button type="button" class="chat__audio-action">
            <i class="fa-solid fa-microphone"></i>
        </button>

    </div>
</div>