<div class="chat">
    <div class="chat__header">
        <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" class="chat__photo-profile" size="xlarge" shape="circle"></p-avatar>

        <p class="chat__username">panchito</p>

        <a routerLink="/karios/messenger" class="chat__close">
            <i class="fa-solid fa-xmark"></i>
        </a>
    </div>

    <div class="chat__body">
        <div class="chat__message">
            <p class="chat__message-text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum reprehenderit vero aut dignissimos fuga, error facere beatae velit quia magnam, exercitationem at iste voluptate placeat eaque incidunt ea. Quisquam, quis!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit quaerat esse numquam quis doloremque animi sed, repudiandae provident dignissimos debitis dolore! Quod quas incidunt, natus reprehenderit tenetur nihil provident amet?
            </p>
        </div>

        <div class="chat__message">
            <p class="chat__message-text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum reprehenderit vero aut dignissimos fuga, error facere beatae velit quia magnam, exercitationem at iste voluptate placeat eaque incidunt ea. Quisquam, quis!
                
            </p>
        </div>

        <div class="chat__message">
            <p class="chat__message-text">
                hola hola
            </p>
        </div>

        <div class="chat__message">
            <p class="chat__message-text">
                hola hola
            </p>
        </div>

        <div class="chat__message">
            <p class="chat__message-text">
                hola hola
            </p>
        </div>

        <div class="chat__message">
            <p class="chat__message-text">
                hola hola
            </p>
        </div>
    </div>

    <div class="chat__footer">
        
        <input class="chat__input-text" type="text" name="message" placeholder="Mensaje...">

        <button type="button" class="chat__audio-action">
            <i class="fa-solid fa-microphone"></i>
        </button>

    </div>
</div>